<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <servlet>
      <servlet-name>Inventory</servlet-name>
      <servlet-class>InventoryServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Search</servlet-name>
      <servlet-class>SearchServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Mock</servlet-name>
      <servlet-class>MockServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>Inventory</servlet-name>
      <url-pattern>/inventory</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>Search</servlet-name>
      <url-pattern>/search</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Mock</servlet-name>
      <url-pattern>/mock</url-pattern>
   </servlet-mapping>
</web-app>
